version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: observcore-api
    ports:
      - "3000:3000"   # expõe a API na máquina host
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NODE_ENV: production
    restart: unless-stopped



volumes:
  db_data:
